

ion-tab-bar{
    --background: rgb(73, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 1.5vh;
    padding-bottom: 1vh;

    ion-tab-button{
        --color: rgb(250, 128, 128);
        --color-selected: rgb(255, 255, 255);
       

        ion-icon{
            font-size: 1.4rem;
        }
    }
}

