<ion-card class="customSwiperCard">
  <ion-card-content>
    <swiper-container 
    class="customSwiper" 
    [pagination]="true" 
    [navigation]="true">

      <swiper-slide class="swiperSlide">
        <img src="
      /assets/img.png" alt="">

      </swiper-slide>

      <swiper-slide class="swiperSlide">
        <img src="
        /assets/img.png" alt="">

      </swiper-slide>

      <swiper-slide class="swiperSlide">
        <img src="
        /assets/img.png" alt="">

      </swiper-slide>

    </swiper-container>
  </ion-card-content>
</ion-card>