<ion-menu side="start" menuId="first" contentId="main-content" >
  <ion-header class="customHeader">

    <ion-toolbar  class="ion-padding-vertical">
  

      <div class="header-content">
        <img [src]="'assets/logo.png'" />
        <ion-label >
          Brand Name
        </ion-label>
        </div>
    </ion-toolbar>

  </ion-header>


  <ion-content class="myCustomMenu">

    
    <ion-col class="menuColumn">

      <ion-col >

        <ion-list>
          <ion-item (click)="goToThePage('home')">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Ana Sayfa</ion-label>
          </ion-item>
          <ion-item  (click)="goToThePage('about')" >
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label>Hakkında</ion-label>
          </ion-item>
          <ion-item (click)="goToThePage('library')">
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-label>İletişim</ion-label>
          </ion-item>
    
          <ion-item (click)="goToThePage('settings')">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Ayarlar</ion-label>
          </ion-item>
        </ion-list>


      </ion-col>

      <ion-col>

        <ion-list>
          <ion-item [routerLink]="['/contact']">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Çıkış</ion-label>
          </ion-item>

        </ion-list>

      </ion-col>


    </ion-col>

  </ion-content>
</ion-menu>
